# Ignore Terraform state
*.tfstate
*.tfstate.*
.terraform/
crash.log

# Ignore sensitive files
.env

# Ignore Docker artifacts
*.log
*.pid
*.sock

# System
.DS_Store
*.swp

# Python virtual env
dashboard/api/.venv/
dashboard/frontend/node_modules/ 
node_modules/
